

<h2> Create a new book </h2>

<h4> Enter the book details </h4>
Title:<br>
{{input value=title}}
<br>

ISBN:<br>
{{input value=isbn}}
<br>

Pages:<br>
{{input value=pages}}
<br>

Description:<br>
{{input value=description}}

<h6> Enter the Author details </h6>

First Name:<br>
{{input value=firstName}}
<br>

Last Name:<br>
{{input value=lastName}}
<br>

Bio:<br>
{{input value=bio}}

<h6> Enter Publisher Detail </h6>

Name:<br>
{{input value=name}}
<br>

Organization Name:<br>
{{input value=organizationName}}
<br>
Address:<br>
{{input value=address}}


<br><br><br>
<button {{action 'createBook'}}>Submit</button>
