{{!-- <ul>
    <li>{{#link-to "books.index"}}
          Fetch All the Books From Server{{/link-to}} 
          <p style="color:red">[Note: Won't work since there's no server.]</p>
    </li>

    <li>{{#link-to "books.new"}}
            Create a new book{{/link-to}}
    </li>
</ul><br><br><br>

{{outlet}} --}}

{{!-- {{profile-card-static}} --}}

{{!-- {{profile-card name=model.name avatar=model.avatar bio=model.bio}} --}}
{{!-- <p>{{my-btn}} </p>

<b>Info:</b> <span id="info"> {{title}}</span> --}}


{{!-- <h4> Index view: Bubbling actions through components</h4>

{{pressCount}} Button presses
{{button-wrapper action="buttonClick"}} --}}
{{!-- {{comp-test}} --}}
{{!-- 
<div class="row">
  {{#each model as |question|}}
    {{question-tile question=question}}
  {{/each}}
</div>

<div class="new-question-box">
  {{new-question saveQuestion="saveQuestion"}}
</div> --}}

<h3>hbs</h3>
<div>
  <p>appName: {{input type="text" value=appName placeholder="app name"}}</p>
  <p>Triggers: didUpdateAttrs, didReceiveAttrs, willUpdate, willRender, 
      didUpdate, didRender</p>
</div>

<div>
  <p>data: {{input type="text" value=data placeholder="Enter Data"}}</p>
  <p>Triggers: willUpdate, willRender, didUpdate, didRender</p>
</div>


<hr>

{{dream-path name=appName data=data}}
